@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2fcfb;
  --foreground: #010404;
  --brand: #d74545;
  --secondary: #d6774f;
  --accent: #2fd6bd;
  --bgray: #475157;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--mont), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
